# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# additional excludes
build/
intel_build/
OpenMPI_build/
new_OpenMPI_build/
__pycache__
kde
.kdev4
.idea
*.aux
*.nav
*.pdb
*.su
*.idb
*.toc
*.snm
*.synctex.gz
*.log
*.bbl
*.blg
.DS_store
*.pdf
.vscode
.python-version
CMakeFiles/
.cache/

# run artifacts
*.vtu
*.pvtu
*.var
*.oct
*.cp
*_BHLocations.dat
*_Constraints.dat
*_GridInfo.dat
*_GW_*.dat
*__PARAM_DUMP__*.toml
*_aeh_solver_checkpt-cp*.json
*.latest

# test files
CodeGen/test_*.cpp
BSSN_GR/src/test_*.cpp
